body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Make the flex container a column */
    align-items: center; /* Center items along the cross-axis (vertically) */
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row; /* Make the flex container a row */
    align-items: center; /* Center items along the cross-axis (vertically) */
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.span {
    width: 100%;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    position: relative; /* Use position relative to control the stacking context */
}

#typing-container {
    align-items: center;
    font-size: 4em;
    width: 100%; /* Adjust to full width */
    max-width: 1200px; /* Limit width for readability */
    height: auto;
    word-wrap: break-word;
    padding: 40px;
    margin: 60px auto; /* Center horizontally */
    font-family: Arial, sans-serif;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1000;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 10px box shadow */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum and maximum width as needed */
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 30px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Add a media query for mobile devices */
@media only screen and (max-width: 600px) {
    .container {
        grid-template-rows: auto; /* Reset to default behavior for mobile */
        grid-template-columns: 1fr;
    }

    #typing-container {
        font-size: 2em; /* Decrease font size for mobile devices */
    }
}




.image-container img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */

}

.image-container img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
}


.square {
    width: 100%; /* Adjust to full width */
    max-width: 300px; /* Limit width for readability */
    height: auto;
    background-color: rgba(255, 255, 255, 10);
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    backdrop-filter: blur(20px);
}

.squareContent {
    background-color: transparent;
    padding: 20px;
    font-size: 24px;
}
