body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.span {
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding-top: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow box effect */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#typing-container {
    font-size: 4em; /* Adjust the font size as needed for h3 */
    width: 100%;
    word-wrap: break-word; /* Prevents content from overflowing the container */
    padding-bottom: 20px;
    margin-bottom: 50;
    font-family: Arial, sans-serif;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1000;
    background-color: #007bff;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
    align-content: center;
    padding-bottom: 60px;
    background-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 20px;
}

.square {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the alpha value for transparency */
    padding: 0;
    display: grid;
    align-self: end; /* Aligns the square to the bottom of the parent grid */
    justify-self: start; /* Aligns the square to the left of the parent grid */
    border: 3px solid grey; /* Add a 3px grey border */
    border-radius: 20px; /* Set border radius for rounded corners (adjust if needed) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a shadow box effect */
    margin-bottom: 15px;
    backdrop-filter: blur(20px); /* Adds a blur effect to the background */
}

.square:hover {
    background-color: #0899e5;
}

.squareContent {
    background-color: transparent;
    padding: 20px;
    align-self: end; /* Aligns the content to the bottom of the square */
    justify-self: center; /* Aligns the content to the left of the square */
    font-size: 24px;
}

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.nav-item {
    margin-right: 20px;
    color: black;
    cursor: pointer;
}

.nav-item:last-child {
    margin-right: 10px;
}

.jumbotron {
    height: 300px;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a shadow box effect */
}

.jumbotron-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: none;
    color: 007bff;
    text-decoration: none;
}

.btnResume {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #00da2d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds a shadow box effect */
}

.btn:hover {
    color: #007bff;
}

.footer {
    background-color: #333;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Center and add space between elements */
    align-items: center; /* Center vertically */
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
}

.upwork-image-container {
    text-align: center;
}
