.carousel-container {
    overflow: hidden;
    width: 100%;
    height: 550px; /* Adjust height as needed */
}

.carousel-wrapper {
    display: flex;

    transition: transform 1s ease; /* Smooth transition for scrolling */
    background-color: white;

}

.carousel-item {
    flex: 0 0 auto;
    width: 20%; /* Each item takes up 20% of the container */
    box-sizing: border-box;
    margin: 50px;

}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    max-height: 100%; /* Ensures the image does not exceed the height of its container */
    display: block; /* Ensures that the image behaves as a block element */
    margin: auto; /* Centers the image horizontally within its container */
}


.squareContent {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
